.main
  min-height: 100vh
  display: flex
  //background-image: url(https://as1.ftcdn.net/v2/jpg/02/49/44/86/1000_F_249448611_7TyZDwzLnl6q0PZhtIEWXXiua4cd5i13.jpg)
  //background-position: center
  //background-repeat: no-repeat
  //background-size: cover

.page
  width: 90%
.menu
  width: 5%
  height: auto
  display: block
  position: fixed
  top: 30%
  left: 80%

.navigate-bar
  display: flex
  flex-direction: column
  height: 50vh
  width: 15vw
  background-color: rgba(1, 1, 1, 0)

.mat-drawer-content
  display: flex
  flex-direction: column
  justify-items: center
  align-items: end
  justify-content: center

.navigate-menu
  height: 100%
  background-color: rgba(1, 1, 1, 0)
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%


.menu-box
  height: 20%
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  background: var(--primary)
  border-radius: 12px
  width: 70%
.btn-menu
  position: absolute
  z-index: 3

.btn
  color: white
  mat-icon
    font-size: 2rem
    line-height: 1.5rem
.link
  color: white
  font-size: auto
  line-height: 1.5rem
  padding: 0.25rem
.btn-foward
  position: relative
  bottom: 50%
  left: 70%
  height: 3rem
  width: 3rem
  mat-icon
    font-size: 1.75rem
    line-height: 0.75em
