:host
  height: auto
  width: auto
.card
  height: auto
  margin: 0.5rem
  .img
    height: 60%
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
  .title
    text-align: center
