:host
  height: auto
  width: auto
.card
  height: 90%
  margin: 0.5rem
  .img
    height: 80%
    display: flex
    justify-content: center
    align-items: center
    img
      height: auto
      width: 100%

  .title
    text-align: center
