.btn-newQuestion
  color: #000
.main
  width: 95%
  min-height: 95%
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 2em
  margin-left: 2em
.info-test
  width: 80%
  display: flex
  justify-content: center
  flex-direction: column
  background-color: var(--primary)
  border-radius: 16px
  margin-bottom: 1.25rem
  mat-form-field
    margin-top: 1rem
    margin-left: 1rem
    margin-right: 1rem
    margin-bottom: 1rem
    padding: 0.5rem
    background-color: #f8f8f8
    border-radius: 16px

.test
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
.btn-newQuestion
  width: auto
  margin-bottom: 1.5rem
  font-size: 1rem

.test-questions
  display: flex
  flex-direction: column-reverse
  align-items: center


