@use '@angular/material' as mat;

@include mat.core();
$my-primary: mat.define-palette(mat.$amber-palette, 100);
$my-accent: mat.define-palette(mat.$orange-palette, A200);
//theming
$my-secundary: mat.define-palette(mat.$orange-palette, A400);


$my-secundary1: mat.define-palette(mat.$deep-orange-palette, A700);
$my-theme1: mat.define-light-theme((
 color: (
   primary: $my-secundary1,
   accent: $my-accent,
   warn: $my-secundary
 )
));
@include mat.form-field-theme($my-theme1)
