/* You can add global styles to this file, and also import other style files */
:root
  --primary: #e58846
  --accent: #ffb874
  --warn:#ae5a19
  --bg-primary: #EDBA6B
  --bg-secundary: #F5DEBE



.mat-drawer-inner-container
  display: flex
  flex-direction: column
  justify-content: space-between
::ng-deep .mat-checkbox-background
    background-color: red!important
